{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

{% for article in articles %}
   
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metada">ecrit le 12/05/2020 à 12:45 dans la catégorie politique</div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            
            {{ article.content }}

            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>

{% endfor %}
{% endblock %}