{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h2>{{article.title }}</h2>
        <div class="metada">ecrit le {{ article.createdAt | date('d/m/Y') }} à 
        {{ article.createdAt | date('H:i') }} dans la catégorie politique</div>
        <div class="contaent">
            <img src="{{article.image}}" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam ad accusantium voluptate vitae fuga aliquid?</p>
            <p>Voluptate non commodi libero a ducimus. Consequatur sequi illum modi deleniti sunt dolores, natus eos?</p>
            <hr>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis quasi nemo debitis deserunt officiis 
     repellat labore nobis. Harum nulla, delectus saepe temporibus illum culpa porro odio magni, nihil 
     dicta velit, eum repellendus obcaecati fuga vero fugiat quod sapiente mollitia tempore pariatur 
     accusamus ullam. Nam modi aliquam omnis veritatis, odit illo!
</p>
<p>
    Odio, similique? Tempore inventore quasi culpa consequatur minima harum expedita blanditiis quidem
    animi. Quod, maxime molestiae? In similique, unde sint quasi at recusandae illo ex explicabo, dolor
    nesciunt nostrum enim voluptatibus eos officia libero excepturi, aut velit? Voluptatum ipsa iure 
    laudantium, illum numquam, illo, accusantium corrupti delectus quisquam sunt ea.
</p>
        </div>
    </article>


{% endblock %}